body{
    background-color: #e7f4f4;
}

#first{
    background-color: blue;
}

#second{
    background-color: red;
}

#third{
    background-color: green;
    background-image: url(../img/codeup-arrow.png)
}

.boxes{
    width: 120px;
    height: 80px;
}

.border{
    border: 2px solid black;
}
.another_box{
    width: 80px;
    height: 80px;
}
